/* hero */

.hero {
    /* height: 560px;
    background: url("../imgs/p/hero.png") center center / cover no-repeat; */
}

.hero-swiper .swiper-slide {
    max-height: 560px;
}

.hero-swiper .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tovaru {
    color: white;
    font-size: 18px;
    text-decoration: none;
    display: block;
}

@media all and (max-width: 768px) {
    .hero-swiper .swiper-slide img {
        height: 240px;
    }

    .tovaru {
        margin-top: 20px;
        text-align: center;
    }
}

/* We */

.show-mare-link {
    color: white;
    font-size: 18px;
    text-decoration: none;
}

@media all and (max-width: 500px) {
    .show-mare-link {
        text-align: center;
        display: block;
        margin-top: 20px;
    }
}

.we {
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    background: rgb(170, 168, 168);
    border: 3px solid rgb(233, 88, 88);
    margin: 30px;
    padding: 10px;
}

.we p {
    max-width: 700px;
}

.we h2 {
    text-align: center;
    margin-bottom: 20px;
}