.orders__list {
    color: white;
    text-align: center;
    width: 100%;
}

.orders__list thead {
    font-size: 14px;
}

.orders__list tbody {
    font-size: 18px;
}

.orders__list thead td {
    padding-bottom: 15px;
}


.orders__list tbody tr {
    background: black;
}

.orders__list thead tr.waiting {
    background: rgb(155, 153, 5);
}


.orders__list thead tr.send {
    background: rgb(30, 4, 146);
}

.orders__list thead tr.accept {
    background: rgb(5, 179, 14);
}

.orders__list thead tr.failed {
    background: rgb(156, 7, 7);
}

.orders__list tbody td {
    padding: 10px 15px;
    border-radius: 10px;
}

.orders__list button {
    background: rgb(240, 39, 39);
    width: 80px;
    height: 32px;
    border-radius: 15px;
}

select {
    background: rgb(170, 193, 19);
    border-radius: 20px;
    height: 32px;
}
